SECRET_KEY=django-insecure-dev-only-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
TIME_ZONE=Europe/Minsk
LANGUAGE_CODE=ru

DB_CONNECTION_ENCRYPTION_KEY=

LICENSE_FILE=data/db-stat.license
LICENSE_PUBLIC_KEY_FILE=license-public.pem

SQLITE_NAME=db.sqlite3

STATIC_URL=static/
